# .replit configuration file
language = "python3"

# Command to run the application
# Package installation should be done manually in the Shell tab if needed.
run = "gunicorn --bind 0.0.0.0:8080 app:app"

# Use the Nix package manager to install system dependencies
[nix]
channel = "stable-23_11"
# List of packages to install from the Nixpkgs collection
pkgs.tesseract
pkgs.tesseract_data_eng
pkgs.tesseract_data_ara
pkgs.mupdf